# Ignore MacOS system files
.DS_Store
# Ignore Xcode project and VScode files
*.xcodeproj
*.vscode
# Ignore documentation folder
docs/
# Ignore files of Clion(.idea/)
.idea/
# Ignore coverage files
*.profraw
*.profdata