# Ignore MacOS system files
.DS_Store
# Ignore Xcode project and VScode files
*.xcodeproj
*.vscode
# Ignore documentation folder
docs/
# Ignore files of Clion(.idea/)
.idea/
# Ignore coverage files
*.profraw
*.profdata
# Ignore CMake files
CmakeLists.txt
cmake-build-debug/
# Ignore Make files
Makefile
# Ignore coverage directory
coverage*/
# Ignore terminal tests
*terminal_tests*
